#header {
    height: 300px;
    background-image: url(healthy.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
	background-size: 100%; 
    background-position-y:center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#header a {
    text-decoration: none;
    color: black;
}

#logo-text{
    font-size: 17px;
    font-weight: bolder;
    color: #043428;
}

#logo{
    width: 55%;
    height: 55%;
}

#wrapper {
    display:flex;
    justify-content: space-around;
}

#EcoSuggestionPicture{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#EcoSuggestionPicture:hover{
    opacity: 0.5;
}

#OtherSuggestionPicture{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#OtherSuggestionPicture:hover{
    opacity: 0.5;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}