.header {
    
    height: 800px;
    background-image: url(healthy.jpg);
    background-repeat: no-repeat;
	background-size: 120%; 
    background-position-y:center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #043428;
    font-size: 37px;
    font-weight: bolder;
}

.header img {
    margin: 0%;
}
/* .header a {
    text-decoration: none;
    color: black;
} */

select{
    height: 40px;
    width: 170px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border:none;
    text-align: center;
    font-size: 15px;
    border-radius: 15px;
}

input{
    height: 40px;
    width: 170px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: none;
    text-align: center;
    font-size: 15px;
    border-radius: 15px;
}

#search{
    height: 40px;
    width: 90px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border:none;
    font-size: 15px;
    border-radius: 15px;
}

select:hover {
    outline: 2px orange solid;
}

input:hover{
    outline: 2px orange solid;
}

#search:hover {
    background-color: #3265CB;
    color: white;
}