.header {
    
    height: 1000px;
    background-image: url(healthy.jpg);
    background-repeat: no-repeat;
	background-size: 120%; 
    background-position-y:center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.header a {
    text-decoration: none;
    color: black;
}

select {
    /* background-color: rgba(245, 245, 245, 0.361); */

}